<h1>Create a new association</h1>
<form action="/{{ action }}" method="post">


    <!--first, render associations view. there, select value for association 1 and association 2. sensd to associations
 controller function. controller sets next to appropriate controller function based on association 1 and 2 values. 
 each association controller sets the association then responds to same view with success message-->
  
    {{resourceType}} Title: <input type="text" name="title" />
    <br />

    <label for="assoc1Type">Select primary resource:</label>
    <select name="assoc1Type" id="assoc1Type">
        <option value="" selected>--Please choose an option--</option>
        <option value="current">Current ({{assoc1Type}})</option>
        <option value="note">Note</option>
        <option value="document">Document</option>
        <option value="client">Client</option>

    </select>
    <label for="assoc1Id">Select primary Id:</label>
    <select name="assoc1Id" id="assoc1Id">
        <option value="" selected>--Please choose an option--</option>
        <option value="current">Current {{resourceType}} ({{assoc1Id}})</option>
        <option value="note">Note Id</option>
        <option value="document">Document Id</option>
        <option value="client">Client Id</option>
    </select>


    <label for="assoc2Type">Select secondary resources:</label>
    <select name="assoc2Type" id="assoc2Type">
        <option value="" selected>--Please choose an option--</option>
        <option value="current">Current ({{assoc2Type}})</option>
        <option value="note">Note</option>
        <option value="document">Document</option>
        <option value="client">Client</option>

    </select>
    <label for="assoc2Id">Select primary Id:</label>
    <select name="assoc2Id" id="assoc2Id">
        <option value="" selected>--Please choose an option--</option>
        <option value="current">Current {{resourceType}} ({{assoc2Id}})</option>
        <option value="note">Note Id</option>
        <option value="document">Document Id</option>
        <option value="client">Client Id</option>
    </select> </div>
    <br />
    <button type="submit">{{ buttonText }}</button>
</form>