<h1>
  {{#if existingResource }}Edit {{else}}Create {{/if}}{{resourceType}}
</h1>

<form {{#if existingResource}} action="/edit/{{resourceType}}{{resources.id}}" {{else}} action="/{{ action }}" {{/if}}
  method="post">
  {{resourceType}} Title: <input type="text" name="title" value="{{resources.title}}" />
  <br>
  <br />
  <div>
    <label for="category">Choose a category:</label>
    <select name="category" id="category">
      <option selected>{{resources.category}}</option>
      <option value="Financial">Financial</option>
      <option value="Report format">Report format</option>
    </select>
  </div>
  <br />
  Note: <input type="blob" name="note" value="{{resources.note}}" />
  <br>
  <br />
  Revision log: <input type="textbox" name="revisionLog" value="{{resources.revisionLog}}" />
  <br>
  <br />

  <h4>This {{resourceType}} belongs to client:</h4>
  {{thisClient.clientName}}
  <select name="clientId" id="clientId">
    <option selected>Choose a Client</option>
    {{#each allClients}}
    <option value={{this.id}}>{{this.clientName}}</option>
    {{/each}}
  </select>

  <br></br>
  <!--dont think i need these two lines-->
  <input type="hidden" name="id" value="{{resources.id}}" />
  {{#if existingResource}}
  <input type="hidden" name="lastUpdateUser" value="{{resources.lastUpdateUser}}" />
  <input type="hidden" name="clientId" value={{thisClient.id}} />
  <input type="hidden" name="noteId" value={{thisNote.id}} />
  <button type="submit">Update {{resourceType}} </button>
  {{else}}
  <input type="hidden" name="lastUpdateUser" value="" />
  <button type="submit">Create {{resourceType}} </button>
  {{/if}}
</form>