<h1>
  {{#if existingResource }}Edit {{else}}Create {{/if}}{{resourceType}}
</h1>
<a class="btn btn-warning" href='/homepage/'>My homepage</a>
<br></br>
<form {{#if existingResource}} action="/edit/{{resourceType}}{{resources.id}}" {{else}} action="/{{ action }}" {{/if}}
  method="post">
  {{resourceType}} Title: <input type="text" name="title" value="{{resources.title}}" />
  <br>
  <br />
  <div>
    <label for="category">Choose a category:</label>
    <select name="category" id="category">
      <option selected>{{resources.category}}</option>
      <option value="Financial">Financial</option>
      <option value="Project details">Project details</option>
      <option value="Contacts">Contacts</option>
    </select>
  </div>
  <br />
  Note: <input type="blob" name="note" value="{{resources.note}}" />
  <br>
  <br />
  Revision log: <input type="textbox" name="revisionLog" value="{{resources.revisionLog}}" />
  <br>
  <div>
    <br>
    Flag Urgent?:
    <input type="radio" id="true" name="setUrgent">
    <label for="true">Yes</label>
    <input type="radio" id="false" name="setUrgent">
    <label for="false">No</label><br>
  </div>

  <div>
    <label for="flagExpires">Flag expiration date:</label>
    <input type="date" id="flagExpires" name="flagExpires" value="01/01/2020">
  </div>
  <br />
  <h4>This {{resourceType}} belongs to client:</h4>
  <select name="clientId" id="clientId">
    <option {{#if existingResource}} value={{thisClient.id}}{{/if}} selected>{{#if existingResource}}
      {{thisClient.clientName}} {{else}}Choose a Client {{/if}}</option>
    {{#each allClients}}
    <option value={{this.id}}>{{this.clientName}}</option>
    {{/each}}
  </select>
  <br></br>
  <input type="hidden" name="id" value="{{resources.id}}" />
  {{#if existingResource}}
  <input type="hidden" name="lastUpdateUser" value="{{resources.lastUpdateUser}}" />
  <input type="hidden" name="noteId" value={{thisNote.id}} />
  <button class="btn btn-primary" type="submit">Update {{resourceType}} </button>
  {{else}}
  <input type="hidden" name="lastUpdateUser" value="" />
  <button class="btn btn-primary" type="submit">Create {{resourceType}} </button>
  {{/if}}
</form>