<h1>{{#if hasClient}}List of all {{resourceType}}s for client {{thisClient.clientName}}
  {{else}}
  List of all {{resourceType}}s
  {{/if}}
</h1>

<div>
  <a class="btn btn-primary" href='/{{resourceType}}s/'>New {{resourceType}}</a>
  <div>
    <table class="table">
      <tr>  
        <th>{{resourceType}} Title</th>
        <th>{{resourceType}} Id</th>
        <th></th>
      </tr>
      {{#each resources }}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.id}}</td>
        <td><a class="btn btn-secondary btn-sm" href="/edit/{{resourceType}}{{ this.id }}">Edit</a>
          <a class="btn btn-warning btn-sm" href="/delete/{{ this.id }}">Delete</a></td>
      </tr>
      {{/each}}
    </table>
  </div>