<!DOCTYPE html>
<html lang="en">
<h1>
  List of all {{resourceType}}s
</h1>

<head>
  <title>List Resources</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<a class="btn btn-warning" href='/homepage/'>My homepage</a>
<a class="btn btn-primary" href='/{{resourceType}}s/'>New {{resourceType}}</a>
<br></br>
<div class="container">
  <p>Search the table:</p>
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{{resourceType}} Title</th>
        <th>{{resourceType}} Id</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="myTable">
      {{#if isNote}}
      {{#each resources }}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.id}}</td>
        <td>
          <a class="btn btn-secondary btn-sm" href="/notes/note{{ this.id }}">View {{resourceType}}</a>
        </td>
      </tr>
      {{/each}}
      {{else}}
      {{#each resources }}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.id}}</td>
        <td>
          <a class="btn btn-secondary btn-sm" href="/docs/doc{{ this.id }}">View {{resourceType}}</a>
        </td>
      </tr>
      {{/each}}
      {{/if}}
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $("#myInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>

</body>

</html>