<h1>{{#if hasClient}}List of all {{resourceType}}s for client {{thisClient.clientName}}
  {{else}}
  List of all {{resourceType}}s
  {{/if}}
</h1>

<div>
  <a class="btn btn-primary" href='/{{resourceType}}s/'>New {{resourceType}}</a>
  <div>
    <table class="table">
      <tr>  
        <th>{{resourceType}} Title</th>
        <th>{{resourceType}} Id</th>
        <th>Associated Client</th>
        <th></th>
      </tr>
      {{#each resources }}
      <tr>
        <td>{{this.title}}</td>
        <td>{{this.id}}</td>
          <td>{{this.clientId}}</td>
        <td><a class="btn btn-secondary btn-sm" href="/notes/note{{ this.id }}">View Note</a>
          </tr>
      {{/each}}
    </table>
  </div>