<h1>Client: {{thisClient.clientName}}</h1>
<a class="btn btn-warning" href='/homepage/'>My homepage</a>
 <a class="btn btn-primary" href='/listClients/'>Clients</a>
<br>
</br>
<div class=container>
    <table class="table">
        <tr>
            <th>Client Id:</th>
            <th>Has Owner?:</th>
            <th>Owned By:</th>
            <th>Key Client?:</th>
            <th>Requires Quote?:</th>
            <th>Requires Quote Approval?:</th>
            <th>Standard Discount(%):</th>
        </tr>
        <tr>
            <td>{{thisClient.id}}</td>
            <td>{{#if thisClient.ownedByUser}}Yes{{else}}No{{/if}}</td>
            <td>{{#if thisClient.ownedByUser}}{{thisClient.ownedBy}}{{else}}N/A{{/if}}</td>
            <td>{{#if thisClient.keyClient}}Yes{{else}}No{{/if}}</td>
            <td>{{#if thisClient.reqQuote}}Yes{{else}}No{{/if}}</td>
            <td>{{#if thisClient.reqQuoteApproval}}Yes{{else}}No{{/if}}</td>
            <td>{{thisClient.standardDiscount}}</td>
        </tr>
    </table>
</div>
<div class=container>
    <table class="table">
        <tr>
            <th>Revision Log: <span style="color:blue">[last Update: {{thisClient.updatedAt}}]</span></th>
            <th></th> <br>
        </tr>
        <tr>
            <td>{{thisClient.revisionLog}}</td>
            <td></td> <br>
        </tr>
    </table>
</div>
<br>
