<h1>{{#if thisClient}}{{resourceType}} for client: {{thisClient.clientName}}
    {{else}}
    {{resourceType}} with no associated Client
    {{/if}}
</h1>
<a class="btn btn-warning" href='/homepage/'>My homepage</a>
<a class="btn btn-primary" href='/docs/'>New Document</a>
<a class="btn btn-primary" href='/edit/doc{{resources.id}}'>Edit {{resourceType}}</a>
<br>
<br></br>
<div class=container>
    <table class="table">
        <tr>
            <th>{{resourceType}} Title:</th>
            <th>{{resourceType}} Id</th>
            <th>Category:</th>
            <th>Origin:</th>
            <th>Pathway:</th>
        </tr>
        <tr>
            <td>{{resources.title}}</td>
            <td>{{resources.id}}</td>
            <td>{{resources.category}}</td>
            <td>{{resources.origin}}</td>
            <td><a href="{{resources.docPath}}">Go to doc</a></td>
        </tr>
    </table>
</div>
<br>
<div class=container>
    <h3>Note(s) associated with this Document:</h3>
    <table class="table">
        <tr>
            <th>Note Title</th>
            <th>Note Id</th>
            <th></th>
        </tr>
        <tr>
            {{#each notesThisDoc}}
            <td>{{this.title}}</td>
            <td>{{this.id}}</td>
            <td><a class="btn btn-secondary btn-sm" href="/notes/note{{ this.id }}">View Note</a></td>
        </tr>
        {{/each}}
    </table>
</div>
<br>
<div class=container>
    <form action="/docs/note{{noteId}}/client{{thisClient.id}}" method="post">
        <label for="obsoleteDocId">Delete this Document</label>
        <select name="obsoleteDocId" id="obsoleteDocId">
            <option value={{resources.id}}>{{resources.title}} (Doc Id {{resources.id}})</option>
        </select>
         <input type="hidden" name="noteId" value="{{noteId}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <button type="submit">Delete Document</button>
        <br>
    </form>
</div>
