<h1>{{resourceType}} for client: {{thisClient.clientName}}
  
</h1>
<a class="btn btn-warning" href='/homepage/'>My homepage</a>    
<a class="btn btn-primary" href='/notes/'>New {{resourceType}}</a>
<a class="btn btn-primary" href='/edit/note{{resources.id}}'>Edit {{resourceType}}</a>
<a class="btn btn-primary" href='/delete/note{{resources.id}}'>Delete {{resourceType}}</a></td>

<div class=container>
    <table class="table">
        <tr>
            <th>{{resourceType}}: {{resources.title}}</th>
            <br>
        </tr>
        <tr>
            <td>{{resources.note}}</td>
            <br>
        </tr>
    </table>
</div>
<br>
<div class=container>
    <table class="table">
        <tr>
            <th>{{resourceType}} Id</th>
            <th>Flag Urgent?:</th>
            <th>Flag expiration date:</th>
            <th>Category:</th>
        </tr>
        <tr>
            <td>{{resources.id}}</td>
            <td>{{#if resources.setUrgent}}Yes{{else}}No{{/if}}</td>
            <td>{{resources.flagExpires}}</td>
            <td>{{resources.category}}</td>
        </tr>
    </table>
</div>
<div class=container>
    <table class="table">
        <tr>
            <th>Revision Log: <span style="color:blue">[last Update: {{resources.updatedAt}}]</span></th>
            <th></th> <br>
        </tr>
        <tr>
            <td>{{resources.revisionLog}}</td>
            <td></td> <br>
        </tr>
    </table>
</div>
<br>
<div class=container>
    <h3>Documents associated with this Note:</h3>
    <table class="table">
        <tr>
            <th>Document Title</th>
            <th>Document Id</th>
            <th></th>
        </tr>
        <tr>
            {{#each docsThisNote}}
            <td>{{this.title}}</td>
            <td>{{this.id}}</td>
            <td> <a class="btn btn-secondary btn-sm" href="/docs/doc{{ this.id }}">View Doc</a></td>
        </tr>
        {{/each}}
    </table>
</div>
<br>
<div class=container>
    <form action="/notes/note{{resources.id}}/client{{thisClient.id}}" method="post">
        <label for="docId">Choose additional document for this Note</label>
        <select name="docId" id="docId">
            <option>--Choose document--</option>
            {{#each allDocsThisClient}}
            <option value={{this.id}}>{{this.title}} (Doc Id {{this.id}})</option>
            {{/each}}
        </select>
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <button class="btn btn-primary" type="submit">Add Doc</button>
    </form>
</div>
<br>
<div class=container>
    <form action="/docs/note{{resources.id}}" method="get">
        <label for="newDoc">Upload a new Document</label>
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <button class="btn btn-primary" type="submit">Upload Doc</button>
    </form>
    <br>
    <form action="/docs/note{{resources.id}}/client{{thisClient.id}}" method="post">
        <label for="obsoleteDocId">Choose document to delete</label>
        <select name="obsoleteDocId" id="obsoleteDocId">
            <option>--Choose document--</option>
            {{#each docsThisNote}}
            <option value={{this.id}}>{{this.title}} (Doc Id {{this.id}})</option>
            {{/each}}
        </select>
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <button class="btn btn-primary" type="submit">Delete Doc</button>
    </form>
</div>