<h1>{{#if thisClient}}{{resourceType}} for client {{thisClient.clientName}}
    {{else}}
    {{resourceType}} with no associated Client
    {{/if}}
</h1>

<div>
    <a class="btn btn-primary" href='/{{resourceType}}s/'>New {{resourceType}}</a>
    <!-- Deprecated
        <a class="btn btn-primary" href='/associations/' value="current">Add association to this {{resourceType}}</a>-->
    <a class="btn btn-secondary btn-sm" href="/createResource/{{ this.id }}">Edit {{resourceType}}</a>
    <a class="btn btn-warning btn-sm" href="/delete/{{ this.id }}">Delete {{resourceType}}</a></td>
    <div>
        <table class="table">
            <tr>
                <th>{{resourceType}}: {{resources.title}}</th>
                <br>
            </tr>
            <tr>
                <td>{{resources.note}}</td>
                <br>
            </tr>
        </table>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>{{resourceType}} Id</th>
            <th>Flag Urgent?:</th>
            <th>Flag expiration date:</th>
            <th>Category:</th>
            <th>Associated Resources:</th>
            <th>Last Update:</th>
            <th>Last updated by:</th>
        </tr>
        <tr>
            <td>{{resources.id}}</td>
            <td>{{resources.setUrgent}}</td>
            <td>{{resources.flagExpires}}</td>
            <td>{{resources.category}}</td>
            <td>{{resources.docAssociated}}</td>
            <td>{{resources.revisionLog}}</td>
            <td>{{resources.lastUpdateUser}}</td>
        </tr>
    </table>
    <table class="table">
        <tr>
            <th>Revision Log:</th>
            <br>
        </tr>
        <tr>
            <td>{{resources.revisionLog}}</td>
            <br>
        </tr>
    </table>
</div>
<!--   xxxxxxxxxxxxxxxxxxxxxxxxxxx WORKING HERE  xxxxxxxxxxxxxxxxxxxxxxxx -->
<!--   doc association -->
<form action="/associations" method="post">
    <h2>Documents associated with this Note:</h2>
    {{#if existingResource}}
    <table class="table">
        <tr>
            <th>Document Title</th>
            <th>Document Id</th>
        </tr>
        <tr>
            {{#each docList}}
            <td>{{this.title}}</td>
            <td>{{this.id}}</td>
        </tr>
        {{/each}}
    </table>
    {{/if}}
    <select name="chooseDocument" id="chooseDocument">
        <option value="" selected>--None--</option>
        {{#each docList}}
        <option>{{this}}</option>
        {{/each}}
    </select>

    <input type="hidden" name="assoc1Type" value="{{resourceType}}" />
    <input type="hidden" name="assoc1Id" value="{{resources.id}}" />

    <button type="submit">Add Doc</button>
</form>
<br />
<!--   client association form -->
<form action="/associations" method="post"></form>
<h2>This note belongs to client:</h2>
{{#if thisClient}}{{thisClient.clientName}}
{{else}}
<select name="chooseClient" id="chooseClient">
    <option value="" selected>--None--</option>
    {{#each clientList}}
    <option>{{this}}</option>
    {{/each}}
</select>
{{/if}}
<!--now 'chooseClient' value should be on object being sent on-->
<input type="hidden" name="docAssociated" value="true" />
<input type="hidden" name="assoc1Type" value="{{resourceType}}" />
<input type="hidden" name="assoc1Id" value="{{resources.id}}" />
<input type="hidden" name="assoc2Type" value="Client" />
<button type="submit">Add Client</button>
</form>