<h1>{{#if thisClient}}{{resourceType}} for client {{thisClient.clientName}}
    {{else}}
    {{resourceType}} with no associated Client
    {{/if}}
</h1>
<a class="btn btn-primary" href='/notes/'>New {{resourceType}}</a>
<a class="btn btn-primary" href='/edit/note{{resources.id}}'>Edit {{resourceType}}</a>
<a class="btn btn-primary" href='/delete/note{{resources.id}}'>Delete {{resourceType}}</a></td>
<!-- Display current note -->

<div>
    <table class="table">
        <tr>
            <th>{{resourceType}}: {{resources.title}}</th>
            <br>
        </tr>
        <tr>
            <td>{{resources.note}}</td>
            <br>
        </tr>
    </table>
</div>
<br>
<table class="table">
    <tr>
        <th>{{resourceType}} Id</th>
        <th>Flag Urgent?:</th>
        <th>Flag expiration date:</th>
        <th>Category:</th>
        <th>Last Update:</th>
        <th>Last updated by:</th>
    </tr>
    <tr>
        <td>{{resources.id}}</td>
        <td>{{resources.setUrgent}}</td>
        <td>{{resources.flagExpires}}</td>
        <td>{{resources.category}}</td>
        <td>{{resources.revisionLog}}</td>
        <td>{{resources.lastUpdateUser}}</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Revision Log:</th>
        <br>
    </tr>
    <tr>
        <td>{{resources.revisionLog}}</td>
        <br>
    </tr>
</table>
</div>
<!--
<h2>This note belongs to client:</h2>
{{thisClient.clientName}}, client Id {{thisClient.id}}-->
<br>
<!--   display current docs associated to the note -->
<h3>Documents associated with this Note:</h3>
<table class="table">
    <tr>
        <th>Document Title</th>
        <th>Document Id</th>
    </tr>
    <tr>
        {{#each docsThisNote}}
        <td>{{this.title}}</td>
        <td>{{this.id}}</td>
        <td> <a class="btn btn-secondary btn-sm" href="/docs/doc{{ this.id }}">View Doc</a>
        </td>
    </tr>
    {{/each}}
</table>
<br>
<div>
    <form action="/notes/note{{resources.id}}/client{{thisClient.id}}" method="post">
        <label for="docId">Choose additional document for this Note</label>
        <select name="docId" id="docId">
            <option>--Choose additional document--</option>
            {{#each allDocsThisClient}}
            <option value={{this.id}}>{{this.title}} (Doc Id {{this.id}})</option>
            {{/each}}
        </select>
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <button type="submit">Add Doc</button>
        <br>
    </form>
</div>
<h4>Or</h4>
<div>
    <a class="btn btn-primary" href='/docs/note{{resources.id}}'>Upload Doc</a>
    <form action="/docs/note{{resources.id}}" method="get">
        <label for="newDoc">Upload a new Document</label>
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <button type="submit">Upload Doc</button>
        <br>
    </form>
</div>
<h4>Or</h4>
<div>
    <form action="/docs/note{{resources.id}}/client{{thisClient.id}}" method="post">
        <label for="obsoleteDocId">Choose document to remove</label>
        <select name="obsoleteDocId" id="obsoleteDocId">
            <option>--Choose document to delete--</option>
            {{#each docsThisNote}}
            <option value={{this.id}}>{{this.title}} (Doc Id {{this.id}})</option>
            {{/each}}
        </select>
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <button type="submit">Delete Doc</button>
        <br>
    </form>
</div>
<!--<div>

    <form action="/delete/docs" method="get">
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
                <input type="hidden" name="docsThisNote" value="{{docsThisNote}}" />
        <!--what is form of docsThisNote?-->
<!-- <button type="submit">Remove Document(s)</button>
        <br>
    </form>
</div>-->