<h1>{{#if thisClient}}{{resourceType}} for client {{thisClient.clientName}}
    {{else}}
    {{resourceType}} with no associated Client
    {{/if}}
</h1>
<a class="btn btn-primary" href='/notes/'>New {{resourceType}}</a>
<a class="btn btn-primary" href='/edit/note{{resources.id}}'>Edit {{resourceType}}</a>
<a class="btn btn-primary" href='/delete/{{this.id}}'>Delete {{resourceType}}</a></td>
<!-- Display current note -->

<div>
    <table class="table">
        <tr>
            <th>{{resourceType}}: {{resources.title}}</th>
            <br>
        </tr>
        <tr>
            <td>{{resources.note}}</td>
            <br>
        </tr>
    </table>
</div>
<br>
<table class="table">
    <tr>
        <th>{{resourceType}} Id</th>
        <th>Flag Urgent?:</th>
        <th>Flag expiration date:</th>
        <th>Category:</th>
        <th>Associated Resources:</th>
        <th>Last Update:</th>
        <th>Last updated by:</th>
    </tr>
    <tr>
        <td>{{resources.id}}</td>
        <td>{{resources.setUrgent}}</td>
        <td>{{resources.flagExpires}}</td>
        <td>{{resources.category}}</td>
        <td>{{resources.docAssociated}}</td>
        <td>{{resources.revisionLog}}</td>
        <td>{{resources.lastUpdateUser}}</td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>Revision Log:</th>
        <br>
    </tr>
    <tr>
        <td>{{resources.revisionLog}}</td>
        <br>
    </tr>
</table>
</div>
<!--
<h2>This note belongs to client:</h2>
{{thisClient.clientName}}, client Id {{thisClient.id}}-->
<br>
<!--   display current docs associated to the note -->
<h3>Documents associated with this Note:</h3>
<table class="table">
    <tr>
        <th>Document Title</th>
        <th>Document Id</th>
    </tr>
    <tr>
        {{#each docsThisNote}}
        <td>{{this.title}}</td>
        <td>{{this.id}}</td>
    </tr>
    {{/each}}
</table>
<br>
<div>

    <form action="/notes/note{{resources.id}}/client{{thisClient.id}}" method="post">
        <label for="docId">Add doc for this Note</label>
        <select name="docId" id="docId">
            <option>--None--</option>
            {{#each allDocsThisClient}}
            <option value={{this.id}}>{{this.title}} (Doc Id {{this.id}})</option>
            {{/each}}
        </select>
        <input type="hidden" name="noteId" value="{{resources.id}}" />
        <input type="hidden" name="clientId" value="{{thisClient.id}}" />
        <input type="hidden" name="docAssociated" value="true" />
        <button type="submit">Add Doc</button>
        <br>

    </form>
</div>